.Modal__Inputs {
    background-color: #FAFAFA;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 3px 0px;
    padding: 12px;
    color: rgba(var(--f52, 142, 142, 142), 1);
    font-size: 12px;
    height: 34px;
    width: 219px;
    /* left: 8px; */
    /* line-height: 36px; */
    /* overflow: hidden; */
    /* pointer-events: none; */
    /* position: absolute; */
    /* right: 0; */
    /* text-overflow: ellipsis; */
    box-sizing: border-box;
  }
  