
.modalBackground {
  width: 100%;
  height: 100%;

  background-color: #fafafa;
  position: fixed;
  top: 0;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  max-width: 350px;
  /* width: 500px; */
  /* height: 500px; */
  border-radius: 12px;
  background-color: white;
  border: 1px solid lightgray;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  display: flex;
  flex-direction: column;
  padding: auto;
}

.modal__title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.singup__title {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
}

.titleCloseBtn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;

  margin-top: 10px;
  margin-right: 10px;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
}

.Modal__FbLogin {
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgba(var(--eca, 255, 255, 255), 1);

  font-size: 14px;
  height: 34px;
  width: 219px;

  margin: 10px 0px;
}

.Modal__Inputs {
  background-color: #FAFAFA;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 3px 0px;
  padding: 12px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
  height: 34px;
  width: 219px;
  /* left: 8px; */
  /* line-height: 36px; */
  /* overflow: hidden; */
  /* pointer-events: none; */
  /* position: absolute; */
  /* right: 0; */
  /* text-overflow: ellipsis; */
  box-sizing: border-box;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
  line-height: 16px;
  margin: 10px 40px;
  text-align: center;
  justify-content: center;
}

.Modal__BtnCon{
  display: flex;
  justify-content: center;
}

.Modal__signupBtn {
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgba(var(--eca, 255, 255, 255), 1);

  font-size: 14px;
  height: 34px;
  width: 219px;

  margin: 15px 0px;

}

.lower__part{
  width: 350px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: 1px solid lightgray;
  padding: auto;
  margin-top: 10px;
  border-radius: 12px;
}
